
.form-error{
    color: red !important;
    display: none;
}
.form-valid{
    outline: none !important;
}
.form-invalid{
    outline: none !important;
    border: solid 1px red;
}
.carousel-item img{
    height: 100px;
    object-fit: contain;
}
.pd img{
    height: 500px;
    object-fit: contain;
}